.SomeWeird--concoction {
  top: 0;
	position: static;
  lefT: 0px;

  $var: OOF;

  grid-gap: 9px;
  z-index: bottom;
	transition: top 8s     linear;

  @if ($var != null) {
    colour: yellow;
		accent-color: pink;
  }
}
